################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.suo
/.vs
/ki.dll
/obj
/packages
