################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.user
1-user-setup.sql
unpublished.*
.svn/
.vs/
/app.ini
/bin/*.dll.config
/bin/*.pdb
/bin/*.xml
/bin/*/
/lib/ki/
obj/
packages/
/web.config
