################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.user
1-user-setup.sql
unpublished.ini
/.svn
/.vs
/app.ini
/bin/*.dll.config
/bin/*.xml
/bin/cs
/bin/de
/bin/es
/bin/fr
/bin/it
/bin/ja
/bin/ko
/bin/pl
/bin/pt-BR
/bin/ru
/bin/tr
/bin/zh-Hans
/bin/zh-Hant
/obj
/packages
/web.config
