<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings file="unpublished.config">
    <add key="smtp_server" value="localhost" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!---->
      <!-- The following mailSettings are for the DEVELOPMENT environment ONLY.  Remember to grant write access to this directory to the aplication pool account (ie, "ASP.NET v4.0") -->
      <!---->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Queue" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="PhpHandler" path="*.php" verb="*" type="Peachpie.RequestHandler.RequestHandler,Peachpie.RequestHandler"  resourceType="Unspecified" preCondition="integratedMode" />
      <add name="PhpHandler-PHTML" path="*.phtml" verb="*" type="Peachpie.RequestHandler.RequestHandler,Peachpie.RequestHandler"  resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
