<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings file="unpublished.config">
    <add key="sender_email_address" value="photolib_x@frompaper2web.com" />
    <add key="smtp_server" value="localhost" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PhpHandler" path="*.php" verb="*" type="Peachpie.RequestHandler.RequestHandler,Peachpie.RequestHandler"  resourceType="Unspecified" preCondition="integratedMode" />
      <add name="PhpHandler-PHTML" path="*.phtml" verb="*" type="Peachpie.RequestHandler.RequestHandler,Peachpie.RequestHandler"  resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="KiPhpAppModule" type="ki.php_app_module,ki"/>
    </modules>
  </system.webServer>
  <!-- -->
  <!-- Version numbers in <runtime><assemblyBinding><dependentAssembly><bindingRedirect> elements *always* refer to a DLL's "Assembly Version" as displayed when you open the DLL in Visual Studio and drill down into its Version node(s).  A -->
  <!-- DLL's Assembly Version is *not* the same as the DLL file's "file version", nor is it the same as the associated NuGet package's version number. -->
  <!-- -->
  <!-- Remember to specify the publicKeyToken that the runtime is looking for. -->
  <!-- -->
  <!-- It does not appear possible to avoid using assembly binding redirects on these PeachPie-based projects while targeting the .NET Framework (but it might be possible after migrating the PeachPie-based project to .NET Core). -->
  <!-- -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.3.0" newVersion="5.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
