<!-- -->
<!-- Set deliveryMethod to "Network" or "SpecifiedPickupDirectory" to make use of the corresponding child element. -->
<!-- -->
<smtp deliveryMethod="SpecifiedPickupDirectory">
  <network host="localhost"/>
  <specifiedPickupDirectory pickupDirectoryLocation="C:\ProgramData\Marathon Consulting LLC\photolib\mailroot\Queue" />
</smtp>
